body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: conic-gradient(from 45deg at 50% 0%, #14cdf7, #e406d9);*/
  /*background: linear-gradient(45deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);*/
  background-color: rgb(58, 72, 60);
  height: 100vh;
  /*animation: colorAnimation 5s infinite;*/
  /*animation: scaleAnimation 2s ease-in-out infinite alternate;*/
  /*animation: combineAnimation 4s ease-in-out infinite alternate;*/
  /*animation: slideInAnimation 2s ease-in-out infinite alternate;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*@keyframes colorAnimation {
  0% {
    background: linear-gradient(45deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);
  }
  40% {
    background: linear-gradient(30deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);
  }
  70% {
    background: linear-gradient(0deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);
  }
  100% {
    background: linear-gradient(45deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);
  }
  100% {
    background: linear-gradient(45deg,#14cdf7, #e406d9, #1ad8269d, #cdd359);
  }

}*/

/*@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}*/

/*@keyframes combineAnimation {
  0% {
    transform: scale(1);
    background-color: #ff0000;
  }
  40% {
    transform: scale(1.2);
    background-color: #1403fe;
  }
  70% {
    transform: scale(1.2);
    background-color: #3ce73f;
  }
  100% {
    transform: scale(1);
    background-color: #ff0000;
  }
}*/

/*@keyframes slideInAnimation {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}*/